.main-noticias .elementor-section{
    background-color: #fff;
    text-shadow: none;
    color: #fff;
}

.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-section {
    position: relative;
}

.elementor-heading-title{
    text-align: left;
    color: #fff;
    padding: 0px;
    margin:0;
    line-height:1;
}
.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{
    color:inherit;
    font-size:inherit;
    line-height:inherit;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-small{
    font-size:15px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-medium{
    font-size: 19px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-large{
    font-size:29px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xl{
    font-size:39px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{
    font-size:59px;
}

.elementor-shape {
    overflow: hidden;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.elementor-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.hover-1 .row {
    margin-right: 15px;
    margin-left: 15px;
}
.hover-1 .row .portfolio-item img{
    left: 100%; top: 0px; 
    transition: all 300ms ease 0s;
}
.hover-1 .row .portfolio-item img{
    left: -100%; top: 0px; 
    transition: all 300ms ease 0s;
}
.tgx-portfolio .hover-1 .portfolio-item span {
    position: absolute;
    background-color: #056ddc;
}

.elementor-832 .elementor-element.elementor-element-bdd763f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons a, .elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio .hover-2 .portfolio-btn a, .elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio .hover-3 .effect-3 .external-link li a {
    color: #056ddc;
}

.elementor-element.elementor-element-bdd763f:not(.elementor-motion-effects-element-type-background), .elementor-832 .elementor-element.elementor-element-bdd763f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #EA5356;
}

.portfolio-filter.round > li a:hover {
    color: #fff;
    background-color: #51bbe5;
    border: 1px solid #51bbe5;
}

.portfolio-filter.round > li {
    display: inline-block;
    padding: 5px 10px;
}
.portfolio-filter.round > li a {
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    position: relative;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
}

.portfolio-filter a{
    color: #404040;
}

.tgx-portfolio .portfolio-filter li a {
    font-size: 16px;
    padding: 10px 15px;
    outline: none;
    text-decoration: none;
    font-weight: 600;
}

.tgx-portfolio .hover-1 .portfolio-item span {
    display: block;
    position: relative;
    overflow: hidden;
}

.tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons {
    position: relative;
    
    bottom: 50%;
    background-color: transparent;
    text-align: center;
    transition: all .5s;
}
.tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons a{
    width: 45px;
    height: 45px;
    border-radius: 10%;
    margin: 0px 5px;
    color: #0d6efd;
    transition: all .5s;
}

.tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons .test-popup-link:hover {
    display: inline-block;
    background: #fff;
    margin: 0 5px;
    opacity: 1;
    text-align: center;
    color: #51BBE5;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 18px;
}

.tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons svg{
    background-color: #fff;
    width: 45px;
    height: 45px;
    padding: 1%;
    border-radius: 10%;
}

.elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio #hover-1 .portfolio-item .portfolio-buttons a, .elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio .hover-2 .portfolio-btn a, .elementor-832 .elementor-element.elementor-element-082e3a1 .tgx-portfolio .hover-3 .effect-3 .external-link li a {
    background-color: #fff;
}

.elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
