#eael-login-form {
    background-color: white;
    color: #333;
    text-shadow: none;
} 
#contenedor  {
    background-color: white;
}
#svg-top svg {
    width: calc(123% + 1.3px);
    height: 145px;
}
#svg-bottom svg {
    width: calc(169% + 1.3px);
    height: 218px;
}
#svg-top{
    background-color: #fff;
}
#svg-top .elementor-shape-fill{
    fill: #1e86c0;
}
#svg-bottom{
    background-color: #fff;
}
#svg-bottom .elementor-shape-fill{
    fill: #1e86c0;
}
